<div class="container mt-5">
    <h1>Ejemplo de Modal con ng-bootstrap</h1>
    <button class="btn btn-primary" (click)="open(content)">Abrir Modal</button>
  
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Título del Modal</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Este es un contenido de ejemplo para el modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Close click')">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Guardar cambios</button>
      </div>
    </ng-template>
  
    <p>{{ closeResult }}</p>
  </div>
  