<div class="row g-3" cdkDropList (cdkDropListDropped)="reordenarAnuncios($event)" [cdkDropListData]="anuncios">
  <div class="col-md-12" *ngFor="let anuncio of anuncios; let i = index" cdkDrag>
    <div class="card shadow-sm h-100">
      <!-- Título del anuncio -->
      <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0">{{ anuncio.titulo }}</h5>
        <button
          class="btn btn-sm btn-light"
          data-bs-toggle="collapse"
          [attr.href]="'#collapse' + i"
          role="button"
          aria-expanded="false"
          [attr.aria-controls]="'collapse' + i"
        >
          Ver Más
        </button>
      </div>

      <!-- Contenido colapsable -->
      <div class="collapse" [id]="'collapse' + i">
        <div class="card-body">
          <p>{{ anuncio.descripcion }}</p>
          <div class="d-grid mb-3">
            <a
              class="btn btn-outline-primary"
              [routerLink]="['/pdf-preview']"
              [queryParams]="{
                pdfsrc: anuncio.pathfile,
                page: anuncio.page,
                showAll: anuncio.show_all
              }"
            >
              Ver PDF
            </a>
          </div>

          <!-- Botones de acción -->
          <div *ngIf="roles.includes('admin') || roles.includes('editor')" class="d-flex justify-content-between">
            <button
              class="btn btn-warning btn-sm"
              [routerLink]="['/tablero-anuncios/editar-anuncio', anuncio.id]"
              title="Editar Anuncio"
            >
              Editar
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="borrarAnuncio(anuncio.id)"
              title="Borrar Anuncio"
            >
              Borrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
