<div class="container text-center w-100 mx-auto">
  <p>Usa <strong>Ctrl + Scroll</strong> o los botones para hacer zoom</p>

  <!-- Botones de zoom -->
  <div class="d-flex justify-content-center gap-2 my-2">
    <button class="btn btn-primary" (click)="decreaseZoom()">-</button>
    <span class="align-self-center">Zoom: {{ zoom | number : "1.1-1" }}</span>
    <button class="btn btn-primary" (click)="increaseZoom()">+</button>
  </div>

  <!-- Mostrar componente según el tipo de archivo -->
  <ng-container [ngSwitch]="fileType">
    <app-pdf-viewer
      *ngSwitchCase="'pdf'"
      [pdfSrc]="fileSrc"
      [page]="page"
      [zoom]="zoom"
      [showAll]="showAll"
    >
    </app-pdf-viewer>

    <img
      *ngSwitchCase="'image'"
      [src]="imageUrl"
      [style.width.%]="zoom * 90"
      alt="Vista previa de la imagen"
    />

    <p *ngSwitchDefault>Tipo de archivo no soportado.</p>
  </ng-container>
</div>
