<div class="container my-5">
    <h2>Modificar Anuncio</h2>
    <form [formGroup]="anuncioForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate>
      <!-- Título -->
      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input
          id="titulo"
          formControlName="titulo"
          type="text"
          class="form-control"
          placeholder="Ingrese el título del anuncio"
          required
        />
        <div class="invalid-feedback">El título es obligatorio.</div>
      </div>
  
      <!-- Descripción -->
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción</label>
        <textarea
          id="descripcion"
          formControlName="descripcion"
          class="form-control"
          rows="4"
          placeholder="Ingrese una descripción"
          required
        ></textarea>
        <div class="invalid-feedback">La descripción es obligatoria.</div>
      </div>
            <!-- Ruta del archivo -->
            <div class="mb-3">
              <label for="titulo" class="form-label">Ruta y nombre actual del archivo</label>
              <input
                id="titulo"
                formControlName="pathfile"
                type="text"
                class="form-control text-muted"
                readonly
              />
              <button
                type="button"
                class="btn"
                (click)="clearPathfile()"
              >
                <span class="text-primary">Eliminar</span>
              </button>
            </div>
            
  
      <!-- Subir archivo PDF -->
      <div class="mb-3">
        <label for="file" class="form-label">Subir archivo PDF</label>
        <input
          id="file"
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
          accept="application/pdf"
        />
        <div class="form-text">El archivo debe estar en formato PDF.</div>
      </div>
  
      <!-- Página -->
      <div class="mb-3">
        <label for="page" class="form-label">Página</label>
        <input
          id="page"
          formControlName="page"
          type="text"
          class="form-control"
          placeholder="Página del documento que se muestra al abrir"
        />
      </div>
  
      <!-- Mostrar todo -->
      <div class="form-check mb-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="show_all"
          formControlName="show_all"
        />
        <label class="form-check-label" for="show_all">Mostrar todo el documento</label>
      </div>
  
      <!-- Botón de envío -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">Modificar Anuncio</button>
      </div>
    </form>
  </div>
  