<div class="d-flex flex-column">
  <!-- Botón Hamburger -->
  <button class="btn btn-primary mb-2 align-self-start" (click)="toggleSidebar()">
    <i class="bi bi-list" style="font-size: 24px;"></i>
  </button>

  <!-- Sidebar -->
  <aside
    id="sidebar"
    class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary"
    [class.sidebar-collapsed]="isCollapsed"
  >
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <i class="bi bi-gear me-2" style="font-size: 40px;"></i>
      <span class="fs-4 sidebar-link">Administración</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <i class="bi bi-house-door me-2"></i>
          <span class="sidebar-link">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page">
          <i class="bi bi-people"></i>
          <span class="sidebar-link">Usuarios</span>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          <i class="bi bi-speedometer2 me-2"></i>
          <span class="sidebar-link">Dashboard</span>
        </a>
      </li>

      <div class="dropdown nav-link link-body-emphasis">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-box-arrow-up-right me-2"></i>
          <span class="sidebar-link">Links</span>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li><a class="dropdown-item" [routerLink]="'/files-manager'">Files Manager</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
      </div>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong class="sidebar-link">mdo</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </aside>
</div>
